@media only screen and (max-width: 1140px){
    .m-top-section{
        margin-top: 0px !important;
    }

    .img_Sty{
        padding-top: 42px;
        margin-top: 0px !important;
    }

    .rede_s{
        display: flex !important;
        width: 100% !important;
        justify-content: center;
        
    }

    .respon-Logo-W{
        width: 100%;
    }

    .config_responImg{
        padding-top: 60px;
    }

    .config_respon{
        padding-top: 60px;
    }
    .p-auto-r{
        padding-top: 100px;
    }

  

    
.text-p{
padding-top: 60px;
}


    .p-respon{
       padding: 60px;
    }

    .img-classS-2{
        margin-top: 0px !important;
        width: 100%;
      order: 1 !important;
    }

    .b100-r{
        width: 100%;
    }

    .r-pon-edit{
        margin-top: 0px !important;
        order: 2 !important;
    }

    .auto-flexSTY {
        display: flex !important;
    justify-content: left !important;
    align-items: flex-start !important;
    padding: 41px !important;
    }

    .button_cita{
        width: 100%;
    }
}


.logoHome{
	width: 314px;
    height: 93px
}

.r-pon-edit{
    margin-top: 98px;
}

.imgStyle{
	position: absolute;
    right: 1px;
	z-index: -9999;
}

.img_Sty{
	width: 100%;
    margin-top: -103px;
}

.center_sFlex{
	display: flex;
    justify-content: center;
    align-items: center;
}

.m-top-section{
    margin-top: -146px;
}

.div-center-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img_hambur{
	width: 30px;
    z-index:1000;
}

.l-style{
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0,0,0,.7);
    padding: 0.5rem 1rem !important;
}


.back-lapto {
    background-image: url(../Componentes//images/img5.jpg);
    background-size: cover;
    height: 100vh;
   /*  opacity: 0.7; */
   padding-left: 0px !important;
   padding-right: 0px !important;
}
.back-singUp {
    background-image: url(../Componentes//images/imgOrigin.jpg);
    background-size: cover;
    height: 100vh;
   /*  opacity: 0.7; */
   padding-left: 0px !important;
   padding-right: 0px !important;
}


.back-img-backG{
    width: 100%;
    height: 100vh;
    background: #00000070;

}

.global-text-stylS{
    color: white;
    font-size: 35px;
    font-weight: 700;
}


.center-div-Class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.SingIn-s{
margin-top: 15px;
font-size: 30px;
font-weight: 700;
}

.butt-style-cc{
    width: 80%;
    background: #00bce5;
    border-color:#00bce5 !important ;
 /*    box-shadow: inset 0 0 0 0 #f9e506;
    transition:  ease-out 0.3s; */
  
    
}

.butt-style-cc:hover{
  
    background: #000000;
    border-color:#000000 !important ;
    transition: ease-in-out .5s;
  /*   box-shadow: inset 300px 0 0 0 #f9e506; */
}

.div-button-sty{
width: 100%;
display: flex;
justify-content: center;
padding-bottom: 20px;
}

.div-button-styles-g{
    width: 100%;
display: flex;
justify-content: left;
}

.Sty-Div-class{
    width: 60%;
    padding: 10px;
}

.icons-g{
    margin-right: 10px;
}

.f-clex-g{
    display: flex;
    justify-content: space-between;
}

.button-Sst{
margin-top: 15px;
margin-bottom: 10px;
display: flex;
justify-content: center;
align-items: center;
width: 80%;
color: black;
font-weight: 700;

}
.button-Sst:hover{
    border-color: rgb(255, 255, 255) !important;
    background: rgb(0, 0, 0);
   
    
    }

.f-clex-f{
    display: flex;
}

.c-ontrol-stysS{
margin-left: 10px !important;
}

.l-abel-Sty{
    color: black;
    font-size: large;
    font-weight: 500;
}

.group-c-item{
    display: grid;
}

.flex-Ctainer{
    display: flex;
   
    justify-content: center;
    align-items: center;
}

.img-sTle{
    width: 50px;
}

.text-center-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img_hambur:hover{
	cursor: pointer;
   z-index: 999999999999999;
   z-index: 1000;
}

.button_cita{
    padding: 12px 40px 13px 40px;
    border-radius: 34px;
    box-shadow: 0px 0px 11px 0px #545050bd;
}

.f_flexCheck{
    display: flex;
   
}


.cpG{
        
    color: #777777;
    font-weight: 600;
    line-height: 1.7em;
    margin-top: 18px;
    font-size: 18px;
}

.pcolorg{
    color: black;
    font-weight: 600;
}

.color_check{
    padding-right: 15px;
}

.p-flexB{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.img-classS{
	width: 100%;
    
}
.img-classS-2{
	width: 100%;
    margin-top: -159px;
}

.e-Link{
    list-style: none;
    text-decoration: none;
    color: #00c8ff;

}
.e-Link:hover{
    list-style: none;
    text-decoration: none;
    color: #00c8ff;

}

.text-p{
	display: flex;
	justify-content: center;
	align-items: center;
}


.propo_text{
	background-color: #00c1fd;
    padding: 50px;
    margin: 20px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 3px 4px 13px 0px #00000091;
}

.modif_hd_text {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.text_proposito {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.back_title_ {
    background-color: #004b79;
    padding: 50px;
    margin: 20px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 3px 4px 13px 0px #00000091;
}

.h2_modifice__ {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.text__class__ {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.back__vision {
    background-color: #1d1022;
    padding: 50px;
    margin: 20px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 3px 4px 13px 0px #00000091;
}
.img-autoWiCT{
	width: 100%;
}
.auto-flexSTY{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-clasSty{
	background-image: none;
   padding: 85px;
    background-color: black;
    border-top-left-radius: 77px;
    border-top-right-radius: 63px;
}

.img-contextC{
	width: 90%;
}

.direcc__sty {
    text-align: left;
    color: #D9D9D9;
}

.copyright_redit {
    color: #D9D9D9;
    font-size: initial;
    padding-top: 20px;
    text-align: left;
}

.text-t-form{
	position: relative;
    color: #000000;
    font-weight: 800;
    line-height: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    text-transform: uppercase;
}

.title-eForm{
	
		position: relative;
		color: #000000;
		font-size: 16px;
		margin-bottom: 20px;
		text-transform: uppercase;
	
}

.rede_s{
	display: flex;
	
}
.rombo_2 {
	width: 33px;
    height: 33px;
margin-right: 28px;
	background: #00bce5;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(137deg);
	transition: all .5s;
}


.rombo_2:hover {


	background: #ffffff;
	
}


.rotate_edit{
	
	transform:rotate(225deg);
	font-size: 20px; 
	padding-left: 6px;
    padding-bottom: 2px;
	transition: all .5s;
}
.rotate_edit:hover{

	transition: all .8s;
	font-size: 25px; 
	padding-right: 6px;
}

.color_iconn_{
	color: #ffffff !important;
}


.color_iconn_:hover{
	color: #00bce5 !important;
}


.back-roude {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-g-f{



}

.icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 20px;
    border-radius: 50%;
    transition: all .5s;
    cursor: pointer;
}
.icon:hover {
    background-color: #e60073;
    box-shadow:  0 0 20px #e60073 ;
    padding: 25px;
}

.icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow:  0 0 20px #1877f2;
}


.icon:hover:nth-child(3) {
    background-color: #2867b2;
    box-shadow: 0 0 20px #2867b2 ;
}

/* .icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow:  0 0 20px #1da1f2 ;
}
 */
.icon div {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.4rem;
}


.icon:hover circle {
    stroke-dasharray: 220;
}
.footer-widget{
	display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    background: #39dd56;
  
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
	display: block;
}

.scroll-to-top:hover {
  
    background: #ffffff;
    transition: ease-in-out .5s;
  
  
}

.r-color{
    color: #00e4ff;
}


.color_icoW{
    color: white;
}

.color_icoW:hover{
    color:#39dd56;
    transition: ease-in-out .2s;
  
}

.p-text-color{
    font-weight: bold;
    color: #777777;
    font-size: large;
}

.text_respo1_{
    font-weight: bold;
    color: #777777;
    padding-bottom: 21px;
}

.text-p-p{
    position: relative;
    font-size: 14px;
    color: rgba(255,255,255,0.90);
    margin-bottom: 25px;
}

.g-text-edit{
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 20px;
}

.p-diings{
    padding: 30px !important;
}

.back-drawer{
    background: black !important;
}

.p-dingn{
    padding: 35px !important;
    background-color: #272727;
}

.list-s-one{
    list-style: none;
}

.bg-black-color{
    background-color: #272727;
}

.icon_l{
    color: white;
}

.p-i-ding{
    padding-right: 10px;
}


.c-Flex{
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 41px;
}

.container-b{
	padding: 50px;
	background: cyan;
}

.rghts-copy{
    padding-top: 51px;
    font-size: 11px;
}

.rghts-copy2{
    padding-top: 33px;
    font-size: 11px;
    color: black;
}

.btn-style-four{
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	padding: 14px 40px 14px;
	font-weight: 600;
	overflow: hidden;
	border-radius:3px;
	background: none;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	background-image: -ms-linear-gradient(right, #CF2D01 0%, #FD4A1C 100%);
	background-image: -moz-linear-gradient(right, #CF2D01 0%, #FD4A1C 100%);
	background-image: -o-linear-gradient(right, #CF2D01 0%, #FD4A1C 100%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #CF2D01), color-stop(100, #FD4A1C));
	background-image: -webkit-linear-gradient(right, #CF2D01 0%, #FD4A1C 100%);
	background-image: linear-gradient(to left, #CF2D01 0%, #FD4A1C 100%);
}

.button__modi_ {
    background: #00c0fc!important;
    padding: 9px 79px 6px !important;
    border-radius: 40px !important;
}

.btn-style-four:hover{
	
	color:  #00c0fc;
	
}

.button__modi_:hover {
    background: #ffffff!important;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  

  
}
.btn-style-four:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1, 0.5);
    transform: scale(1, 0.5);

	background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
}


.e-fixed-nav{
	position: fixed;
	left: 0px;
    top: 0px;
   width: 100%;
   display: flex;
   justify-content: center;
   background: white;
   position: fixed;
   z-index: 9999;
   border-bottom: 1px solid #e8f1f7;
   opacity: 1;
   transition-duration: .9s;
   transition-timing-function: ease;

}


.e-fixed-na{
    visibility: hidden;
    width: 100%;
    opacity: 0;
}
.w-100_{
    width: 100%;
}
.dflex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-mp{
    padding-right: 15px
}
.j-d-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  
}

.logoHomeFixed{
    width: 150px;
    height: 50px;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-2{
    width: 100%;
   
    justify-content: center;
}

.img_menuAbout{
	width: 155px;
}

.social-box{
    list-style: none;
    display: flex;
    justify-content: unset;
    margin-top: 70px;
}

.i-Radius{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-right: 12px;
}
.effect-canvas{
 
 animation-duration:.8s;
 animation-name: slidein;



}

.effect-canvas-Menu{
 /* width: 300px !important; */
    animation-duration:.8s;
    animation-name: slidein;
   
   
   
   }

   .f-lex-D{
       display: flex;
       justify-content: right;
   }


   .header-R-P{
       width: 100% !important;
       display: flex !important;
       justify-content: flex-start !important;

   }

.bg-black-color-W{
    background: white;
}
.p-dingn-menuR{
  
    background-color: #ffffff;
}



@keyframes slidein {
    from {
        transition: all .8s ease-out 0s !important;
        left: 100%;
    }
  
    to {
        transition: all .4s ease-in .8s !important;
        left: 0;
    }
  }

















